upstreamApiBaseUrl: "https://powerdns.url/"
upstreamApiKey: "secret"
listenAddress: "*"
listenPort: 9000
users:
  * name: "user"
    passHash: "$argon2id$v=19$m=8,t=1,p=1$cjV5UDFCSHRSaXJ0am9PZg$OIscttF7A8I40AK9Zxa3Sw"
    zones:
      * zone: "example.com."
        domains:
          * { name: "1.example.com.", types: [A, AAAA] }
          * { name: "foo.example.com.", types: any }
  * name: "lego-netbox"
    passHash: "$argon2id$v=19$m=8,t=1,p=1$cjV5UDFCSHRSaXJ0am9PZg$OIscttF7A8I40AK9Zxa3Sw"
    zones:
      * zone: "service.wobcom.de."
        domains:
          * { name: "*.netbox.", types: [TXT] }

  * name: "lego-grafana"
    passHash: "$argon2id$v=19$m=8,t=1,p=1$cjV5UDFCSHRSaXJ0am9PZg$OIscttF7A8I40AK9Zxa3Sw"
    domains:
	* { name: "*.grafana.service.wobcom.de.", types: [TXT] }
        
