upstreamApiBaseUrl: "http://localhost:8081/"
upstreamApiKey: "secret"

-- This one is optional, defaults to "key"
upstreamApiKeyType: "key"
listenAddress: "*"
listenPort: 9000


defaultPermissions:
  apiVersions: permit
  zoneView: filtered
  zoneList: filtered

users:
  * name: "ihvs0261"
    credential: { hash: "$argon2id$v=19$m=262144,t=3,p=1$zwuSU+Txl07k/MmrXrZbJA$2gsQm935f2Zrf7t2YwrTI25BvWON1DYSDsnaWJ84UMM" }
    permissions:
      zoneUpdateRecords:
       * { domain: "_acme-challenge.netbox.service.wobcom.de.", types: [TXT] }

  * name: "odin-staging"
    credential: {hash: "$argon2id$v=19$m=262144,t=3,p=1$N65jGi/EBTjrXWz0YriY7w$xyVRMrwbIIWAbJmYNyB6NAAA7a5h99tXucJxwhHF5K4" }
    permissions:
      zoneView:
        * { zone: "staging.service.wobcom.de.", type: unfiltered }
        * { zone: "staging.infra.wobcom.de.", type: unfiltered }

      zoneUpdateRecords:
        * { domain: "**.staging.service.wobcom.de.", types: [A, AAAA] }
        * { domain: "*.staging.infra.wobcom.de.", types: [A, AAAA] }
